<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="not-affected-by-mccloud" method="post">

      <!-- heading of pace-->
      <h1>
        This member is not due a Remediable Service Statement (RSS)
      </h1>

      <p>
        We'll not send an RSS for this member. This could be because they:
      </p>

      <ul>
        <li>are <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/understanding-if-your-nhs-pension-affected-changes-public-sector-pensions" target="blank" class="nhsuk-link">not affected by the McCloud remedy (opens in a new tab)</a></li>
        <li>are a pension credit member, who has NHS Pension membership through <a href="https://www.nhsbsa.nhs.uk/member-hub/divorce-or-dissolution-civil-partnership-and-your-pension" target="blank" class="nhsuk-link">divorce or dissolution (opens in a new tab)</a></li>
        <li>have already received an RSS</li>
      </ul>

      <p>If you believe the member is due an RSS, you can contact us using our <a href="https://contact-nhs-pensions.nhsbsa.nhs.uk/start" target="blank" class="nhsuk-link">Contact NHS Pensions (opens in a new tab)</a> service.</p>

      <h3>
        Feedback
      </h3>

      <p>
        <a href="" target="blank" class="nhsuk-link">Tell us about your experience using this service (opens in a new tab)</a>
      </p>     

      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

