<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="not-affected-by-mccloud" method="post">

      <!-- heading of pace-->
      <h1>
        This member is not affected by McCloud
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

     

      <p>
        We'll not send this member an RSS because they're not affected by McCloud.
      </p>

      <p>You can read more about <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/understanding-if-your-nhs-pension-affected-changes-public-sector-pensions" target="blank" class="nhsuk-link">who is affected by McCloud (opens in a new tab)</a>.</p>

      <p>If you believe the member is, you can contact us using our <a href="https://contact-nhs-pensions.nhsbsa.nhs.uk/start" target="blank" class="nhsuk-link">Contact NHS Pensions (opens in a new tab)</a> service.</p>

      

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Start again
      </button>
      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

