<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="not-due-rss-yet" method="post">

      <!-- heading of pace-->
      <h1>
        This member is not due a Remediable Service Statement (RSS) yet
      </h1>

      <p>
        We'll not send this member's RSS yet because their pension payments have not started.
      </p>

      <p>Some members may need their RSS sooner if they meet certain criteria. You can read more about this in our <a href="https://www.nhsbsa.nhs.uk/public-service-pensions-remedy-mccloud/making-your-decision-about-your-nhs-pension-benefits" target="blank" class="nhsuk-link">When you'll make your choice (opens in new tab)</a> page.</p>

      <h2>If the member's payments have started</h2>

      <p>If the member's payments have started recently, it's possible we do not have a delivery date for their RSS yet.</p>

      <p>You can check again another day or contact us using our <a href="https://contact-nhs-pensions.nhsbsa.nhs.uk/start" target="blank" class="nhsuk-link">Contact NHS Pensions (opens in new tab)</a> service.</p>

      <h3>If the member is partially retired and has 1995, 2008 and 2015 Scheme membership</h3>

      <p>Some partially retired members impacted by the McCloud remedy will not make a choice about their benefits yet. This is because the benefits they currently receive do not include the McCloud remedy impacted ones.</p>

      <p>
        This can happen if the member:
      </p>

      <ul>
        <li>has 1995 Scheme membership</li>
        <li>left the Scheme and re-joined the 2008 Scheme - meaning they were a member of this Scheme during the remedy period</li>
        <li>has partially retired and taken benefits from the 1995 Scheme only</li>
      </ul>

      <p>
        Their McCloud remedy choice is between 2008 and 2015 Scheme benefits. When the member starts receiving their full pension, we'll send them an RSS.
      </p>

      <h2 class="nhsuk-heading-m">Feedback</h2>
        <p><a href="" target="blank">Tell us about your experience using this service (opens in new tab)</a>.</p>

      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

