<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="rss-already-sent" method="post">

      <!-- heading of pace-->
      <h1>
        We've already sent a remediable service statement (RSS) to this member
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

     

      <p>
        The member should have already received an RSS.
      </p>

      <p>If they have not, you can contact us using our <a href="https://contact-nhs-pensions.nhsbsa.nhs.uk/start" target="_blank" class="nhsuk-link">Contact NHS Pensions (opens in a new tab)</a> service.</p>

      

      
      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

