<!-- Hide Back Link on this page -->
{% set hideBack = true %}

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="will-not-send-rss" method="post">

      <!-- heading of pace-->
      <h1>
        We'll not send a remediable service statement (RSS) to this member
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>
        The member is a pension credit member and will not make a choice about their benefits.
      </p>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is a pension credit member?
          </span>
        </summary>
        <div class="nhsuk-details__text">   
          <p>This is a former partner of an NHS Pension Scheme member. They then became a member themselves through a pension sharing order due to a divorce or dissolution.</p>
      
        </div>
      </details>
      

      

      <h2>What happens next</h2>

      <p>We'll give pension credit members the best pension benefits. This means they may get an uplift in their benefits.</p>

      <p>It does not matter what Scheme their former partner chooses to take their own benefits from if they're affected by McCloud.</p>

      <p>We will send the member more information about this after their former partner has made their choice.</p>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Start again
      </button>
      </form>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}

